body {
  background-color: rgb(159, 65, 65);
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("drum image.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1;
  opacity: 0.8;
}
h1 {
  text-align: center;
  color: rgb(130, 117, 117);
  font-size: 70px;
  margin-bottom: 0px;
}
p {
  text-align: center;
  color: rgb(130, 117, 117);
  font-size: 50px;
  margin-bottom: 100px;
}
.set {
  display: flex;
  justify-content: center;
}
.f-key {
  width: 100px;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("Drum Kit Starting Files/images/crash.png");
  background-size: cover;
  display: inline-block;
}
.a-key {
  width: 100px;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("Drum Kit Starting Files/images/kick.png");
  background-size: cover;
  display: inline-block;
}
.s-key {
  width: 100px;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("Drum Kit Starting Files/images/snare.png");
  background-size: cover;
  display: inline-block;
}
.d-key {
  width: 100px;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("Drum Kit Starting Files/images/tom1.png");
  background-size: cover;
  display: inline-block;
}
.j-key {
  width: 100px;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("Drum Kit Starting Files/images/tom2.png");
  background-size: cover;
  display: inline-block;
}
.k-key {
  width: 100px;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("Drum Kit Starting Files/images/tom3.png");
  background-size: cover;
  display: inline-block;
}
.l-key {
  width: 100px;
  height: 100px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
  background-image: url("Drum Kit Starting Files/images/tom4.png");
  background-size: cover;
  display: inline-block;
}
